{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.fluree/crypto   {:mvn/version "0.3.9"}
        nrepl/bencode       {:mvn/version "1.1.0"}}
 :aliases
 {:pod      {:main-opts ["-m" "pod.fluree.crypto-impl"]}
  :pod-repl {:extra-deps {babashka/babashka.pods
                          {:git/url "https://github.com/babashka/pods.git"
                           :sha     "538fc6f4147badf3a457b3eb8f9f95dd3bc947b1"}}}
  :native-image
  {:main-opts ["-m" "clj.native-image" "pod.fluree.crypto-impl"
               "-H:Name=pod-fluree-crypto"
               "--initialize-at-build-time"
               "--report-unsupported-elements-at-runtime"
               "--no-fallback"]
   :jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps
   {clj.native-image/clj.native-image
    {:git/url "https://github.com/taylorwood/clj.native-image.git"
     :sha     "4604ae76855e09cdabc0a2ecc5a7de2cc5b775d6"}}}}}
